body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-top: 200px;
  color: #333;
  
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
   background: linear-gradient(to right, #4e4376, #2b5876);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#titleDisplay {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Add FontAwesome styles */
.fa {
  margin-right: 5px;
}